@use "sass:map";
@use "../abstracts/index" as *;

*,
*::before,
*::after {
	box-sizing: border-box;
	-webkit-tap-highlight-color: transparent;
}

:root {
	--sidebar-width: 80px;
}

html {
	-webkit-text-size-adjust: 100%;
}

body {
	margin: 0;
	font-size: 1.25rem;
	font-family: "Inter", sans-serif;
	line-height: 1.6;
	color: $off-white;

	color-scheme: dark;
	overflow-x: hidden;

	background-color: $rich-black;

	@include respond(lg) {
		background: linear-gradient(to left, $rich-black-darker, $rich-black 40%);
	}
}

main {
	flex: 1;
	margin-left: var(--sidebar-width);

	overflow-y: auto;
	overscroll-behavior: contain;
	-webkit-overflow-scrolling: touch;

	padding: 0 map.get($spacing, sm);

	@include respond(sm) {
		padding: 0 map.get($spacing, md);
	}

	@include respond(md) {
		padding: 0 map.get($spacing, lg);
	}
}

a {
	color: inherit;
	text-decoration: none;
	cursor: pointer;
	letter-spacing: 0.05em;
}

button {
	cursor: pointer;
	border: none;
	background: none;
	font-family: $secondary-font;
	font-weight: 700;
	padding: 0;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

img {
	display: inline-block;
	max-width: 100%;
	height: auto;
}

svg {
	color: $off-white;
}
