@use "../../abstracts/index" as *;

.habit-form-container {
	top: 20px;
	width: calc(100% - 20px);
	max-width: 640px;
	max-height: calc(100vh - 40px);
	padding: 1.5rem 1.25rem;
	background-color: $rich-black-light;
	border-radius: 0.8rem;
	box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.4);

	form {
		display: flex;
		flex-direction: column;
		margin-top: 1rem;

		.input-group {
			display: flex;
			flex-direction: column;

			input {
				width: 100%;
				padding: 1rem;
				background-color: $rich-black-surface;
				border: 1px solid $rich-black-surface-light;
				border-radius: 0.5rem;
				color: $off-white;
				transition: all 0.2s ease;

				&::placeholder {
					color: rgba($off-white, 0.5);
				}

				&:focus {
					outline: none;
					border-color: $green-primary;
					background-color: $rich-black-surface-light;
				}
			}

			.form-error-text {
				display: flex;
				align-items: center;
				@include fluid-type(small-text);
				padding-left: 0.25rem;
				min-height: 2.05rem;
				color: $accent-gold;
				margin: 0;

				opacity: 1;
				visibility: visible;
				transition: all 0.2s ease;

				&.hidden {
					opacity: 0;
					visibility: hidden;
				}
			}
		}

		textarea {
			width: 100%;
			padding: 1rem;
			background-color: $rich-black-surface;
			border: 1px solid $rich-black-surface-light;
			border-radius: 0.5rem;
			color: $off-white;
			min-height: 4rem;
			max-height: 6.5rem;
			overflow-y: auto;
			resize: none;
			transition: all 0.2s ease;

			&::placeholder {
				color: rgba($off-white, 0.5);
			}

			&:focus {
				outline: none;
				border-color: $green-primary;
				background-color: $rich-black-surface-light;
			}
		}

		.frequency-input {
			margin-top: 2.05rem;
		}

		.form-actions {
			display: flex;
			gap: 0.75rem;
			margin-top: 2.5rem;

			button {
				padding: 0.85rem 1.4rem;
				border-radius: 0.5rem;
				border: none;
				@include fluid-type(button-text);
				transition: all 0.25s ease;
				flex: 1;
			}

			.form-btn-cancel {
				background: transparent;
				border: 2px solid $rich-black-surface;
				color: $jet-brighter;

				&:hover {
					border-color: $rich-black-surface-light;
					background: $rich-black-surface;
					color: $off-white;
				}
			}

			.form-btn-confirm {
				background: $green-primary;
				color: $rich-black;
				border: 1px solid $green-dark;

				&:hover {
					background: $green-secondary;
				}
			}

			&.form-actions-shifted {
				margin-top: 0.45rem;
			}
		}
	}
}
