@use "../../abstracts/index" as *;

.habits-form-container {
	padding: 2rem 1.5rem;
	background-color: $rich-black-light;
	border-radius: 0.8rem;
	box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.4);

	h2 {
		text-align: center;
		color: $green-light;
		margin-bottom: 0.5rem;
		font-family: "Oxanium", sans-serif;
		font-weight: 700;
	}

	form {
		display: flex;
		flex-direction: column;
		margin-top: 1rem;

		select,
		input {
			width: 100%;
			padding: 1rem;
			background-color: $rich-black-input;
			border: 1px solid $rich-black-input-light;
			border-radius: 0.5rem;
			color: $off-white;
			transition: all 0.2s ease;

			&::placeholder {
				color: rgba($off-white, 0.5);
			}

			&:focus {
				outline: none;
				border-color: $green-primary;
				background-color: $rich-black-input-light;
			}
		}

		select option {
			background-color: $rich-black-input;
			color: $off-white;
			border-radius: 1rem;
		}

		textarea {
			width: 100%;
			padding: 1rem;
			background-color: $rich-black-input;
			border: 1px solid $rich-black-input-light;
			border-radius: 0.5rem;
			color: $off-white;
			min-height: 4rem;
			max-height: 6.5rem;
			overflow-y: auto;
			resize: none;
			transition: all 0.2s ease;

			&::placeholder {
				color: rgba($off-white, 0.5);
			}

			&:focus {
				outline: none;
				border-color: $green-primary;
				background-color: $rich-black-input-light;
			}
		}

		.input-group {
			display: flex;
			flex-direction: column;

			.form-error-text {
				display: flex;
				align-items: center;
				@include fluid-type(small-text);
				padding-left: 0.25rem;
				min-height: 2.05rem;
				color: $accent-gold;
				margin: 0;

				opacity: 1;
				visibility: visible;
				transition: all 0.2s ease;

				&.hidden {
					opacity: 0;
					visibility: hidden;
				}
			}
		}

		.frequency-input {
			margin-top: 2.05rem;
		}
	}

	.frequency-wrapper {
		position: relative;

		select {
			appearance: none;
		}

		.select-icon {
			position: absolute;
			top: 50%;
			right: 0.75rem;
			transform: translateY(-50%);
			pointer-events: none;
			color: rgba($off-white, 0.65);
		}
	}

	.form-actions {
		display: flex;
		gap: 0.75rem;
		margin-top: 2.5rem;

		button {
			padding: 0.85rem 1.4rem;
			border-radius: 0.5rem;
			border: none;
			@include fluid-type(button-text);
			transition: all 0.25s ease;
			flex: 1;
		}

		.form-btn-cancel {
			background: transparent;
			border: 2px solid $rich-black-input;
			color: $jet-brighter;

			&:hover {
				border-color: $rich-black-input-light;
				background: $rich-black-input;
				color: $off-white;
			}
		}

		.form-btn-confirm {
			background: $green-primary;
			color: $rich-black;
			border: 1px solid $green-dark;

			&:hover {
				background: $green-secondary;
			}
		}

		&.form-actions-shifted {
			margin-top: 0.45rem;
		}
	}
}
