// BASE COLORS

$rich-black-darker: #001019;
$rich-black: #001a23;
$rich-black-light: #021c26;
$rich-black-lighter: #031f29;
$rich-black-lightest: #052530;

$rich-black-surface: #062833;
$rich-black-surface-light: #08303c;

$jet: #39393a;
$jet-mid: #606062;
$jet-bright: #878789;
$jet-brighter: #adadaf;

// LIGHT COLORS

$off-white: #f3f8f4;
$light-canvas: #eef3ed;

// PRIMARY THEME COLORS

$green-primary: #6da978;
$green-secondary: #5c8f66;

$green-light: #a2c7a7;
$green-dark: #4e7956;
$green-olive: #9aa37e;

// ACCENT & FEEDBACK COLORS

$accent-gold: #e8a937;
$alert-red: #d9534f;

$flame-orange-light: #ff9a4b;
$flame-orange: #f9782c;
$flame-orange-dark: #c8571d;
