@use "../abstracts/index" as *;

.app-container {
	display: flex;
	min-height: 100vh;
	overflow: hidden;

	.content-wrapper {
		max-width: 1525px;
	}

	.view-heading {
		color: $green-light;
		margin-top: 1.5rem;
		font-weight: 700;
		text-align: center;

		@include respond(lg) {
			text-align: left;
		}
	}
}

.divider-line {
	height: 2px;
	background-color: rgba($off-white, 0.4);
	margin: 1rem 0;
}
