@use "../abstracts/index" as *;

.app-container {
	display: flex;
	min-height: 100vh;
	overflow: hidden;

	.content-wrapper {
		max-width: 1525px;
		margin: 0 auto;
	}
}

.divider-line {
	height: 2px;
	background-color: rgba($off-white, 0.4);
	margin: 1rem 0;
}
