@use "../../abstracts/index" as *;

.auth-container {
	@include flex-center;
	flex-direction: column;
	min-height: 100vh;
	padding: 1rem;
	background-color: $rich-black;
}

.auth-form {
	width: 100%;
	max-width: 400px;
	padding: 2rem 1.5rem;
	background-color: $rich-black-light;
	border-radius: 0.8rem;
	box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.4);

	&.confirm-email-view {
		@include flex-center;
		flex-direction: column;
		text-align: center;
		max-width: 450px;

		h2 {
			margin: 0 0 1rem 0;
		}

		.auth-message {
			white-space: nowrap;
		}
	}

	h2 {
		@include fluid-type(h1);
		color: $green-light;
		font-weight: 700;
		text-align: center;
		margin-bottom: 2rem;
	}

	input {
		width: 100%;
		padding: 1rem;
		margin-bottom: 1.25rem;
		background-color: $rich-black-surface;
		border: 1px solid $rich-black-surface-light;
		border-radius: 0.5rem;
		font-size: 1rem;
		color: $off-white;
		transition: all 0.2s;

		&::placeholder {
			color: rgba($off-white, 0.5);
		}

		&:focus {
			outline: none;
			border-color: $green-primary;
			background-color: $rich-black-surface-light;
		}
	}

	input:last-of-type {
		margin-bottom: 0.75rem;
	}

	button {
		width: 100%;
		margin-top: 0.75rem;
		padding: 1rem;
		background-color: $green-primary;
		color: $rich-black;
		@include fluid-type(large-button-text);
		border: none;
		border-radius: 0.5rem;
		transition: all 0.25s ease;

		&:hover:not(:disabled) {
			background-color: $green-secondary;
		}

		&:disabled {
			cursor: not-allowed;
			opacity: 0.8;
		}
	}
}

.auth-message {
	@include flex-center;
	margin: 0;
	height: 2.5rem;
	padding: 0.5rem 0.75rem;
	border-radius: 0.5rem;
	@include fluid-type(small-text);
	transition: opacity 0.3s ease;

	&.auth-error {
		background-color: rgba($alert-red, 0.2);
		color: $alert-red;
		border: 1px solid $alert-red;
	}

	&.auth-success {
		background-color: rgba($green-primary, 0.2);
		color: $green-primary;
		border: 1px solid $green-primary;
	}

	&.hidden {
		visibility: hidden;
		opacity: 0;
	}
}

.auth-link {
	display: block;
	text-align: center;
	margin-top: 1.5rem;
	font-size: 0.9rem;

	a {
		color: $accent-gold;
		text-decoration: none;
		transition: color 0.2s;

		&:hover {
			text-decoration: underline;
		}
	}
}

.auth-redirect-text {
	width: 100%;
	@include fluid-type(large-text);
	opacity: 0.9;
	color: $off-white;
	font-weight: 500;
	margin-top: 1rem;
	text-align: center;
}
