@use "../abstracts/index" as *;

.vertical-navbar {
	width: fit-content;
	background-color: $rich-black-lightest;
	padding: 1rem;
	margin-right: 5px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;

	ul {
		@include flex-center;
		flex-direction: column;
		gap: 1rem;

		li {
			@include flex-center;
			padding: 0.5rem;
			border-radius: 0.5rem;
			border: 2px solid $green-olive;

			svg {
				width: 1.5rem;
				height: 1.5rem;
			}

			a {
				@include flex-center;
			}
		}
	}
}
