@use "../abstracts/index" as *;

.habit-item {
	display: flex;
	flex-direction: column;
	padding: 0.5rem 0.75rem;
	border-radius: 0.5rem;
	background-color: $rich-black-lighter;
	border: 2px solid transparent;
	transition: border-color 0.25s ease;

	&.selected {
		border: 2px solid rgba($accent-gold, 0.8);
	}

	.habit-item-content-wrapper {
		display: flex;
		justify-content: space-between;
		align-items: center;
		gap: 1.25rem;

		.habit-item-content {
			display: grid;
			grid-template-columns: 50px 1fr;
			align-items: center;
			gap: 1rem;

			.habit-item-text {
				display: flex;
				flex-direction: column;
				text-transform: capitalize;
				min-width: 0;

				strong,
				p {
					white-space: nowrap;
					overflow: hidden;
					text-overflow: ellipsis;
				}

				strong {
					@include fluid-type(large-text);
				}

				p {
					@include fluid-type(small-text);
					margin: 0;
				}
			}
		}
	}

	.habit-item-info {
		overflow: hidden;
	}
}
