@use "../abstracts/index" as *;

.habit-item {
	display: flex;
	flex-direction: column;
	padding: 0.5rem 0.75rem 0.5rem 0.25rem;
	border-radius: 0.5rem;
	background-color: $rich-black-lighter;
	border: 2px solid transparent;
	transition: border-color 0.25s ease;

	&.selected {
		border: 2px solid rgba($accent-gold, 0.8);
	}

	.habit-item-content-wrapper {
		display: flex;
		justify-content: space-between;
		align-items: center;
		gap: 1.25rem;

		.habit-item-content {
			display: grid;
			grid-template-columns: 68px 1fr;
			align-items: center;
			gap: 0.75rem;

			.item-circle-wrapper {
				display: flex;
				align-items: center;
				gap: 0.3rem;

				.caret {
					transition: transform 0.25s ease;
				}

				.caret.rotated {
					transform: rotate(-180deg);
				}
			}

			.habit-item-text {
				display: flex;
				flex-direction: column;
				text-transform: capitalize;
				min-width: 0;

				strong,
				p {
					white-space: nowrap;
					overflow: hidden;
					text-overflow: ellipsis;
				}

				strong {
					@include fluid-type(large-text);
				}

				p {
					@include fluid-type(small-text);
					margin: 0;
				}
			}
		}
	}

	.habit-item-info {
		overflow: hidden;
		padding-left: 0.5rem;

		p {
			margin-top: 1rem;
			@include fluid-type(caption);

			white-space: normal;
			overflow-wrap: break-word;
			word-break: break-word;
		}

		span {
			font-weight: 500;
		}

		ul {
			display: flex;
			flex-direction: column;
			gap: 0.5rem;

			li {
				display: flex;
				align-items: center;
				gap: 0.5rem;
				@include fluid-type(p);
				list-style: none;

				.done-icon {
					color: $green-primary;
				}

				.goal-icon {
					color: $accent-gold;
				}

				.missed-icon {
					color: $alert-red;
				}

				.offset {
					display: flex;
					align-items: center;
					gap: 0.5rem;
					transform: translateX(-1px);
				}
			}

			li:last-of-type {
				margin-top: 0.5rem;
				justify-content: center;
				color: rgba($off-white, 0.85);
				@include fluid-type(caption);
				font-weight: 500;
			}
		}
	}
}
