@use "../abstracts/index" as *;

.habit-item {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 1rem;
	padding: 0.5rem 0.75rem;
	border-radius: 0.5rem;
	background-color: $rich-black-lighter;
	border: 2px solid transparent;
	transition: border-color 0.25s ease;

	&.selected {
		border: 2px solid rgba($accent-gold, 0.8);
	}

	.habit-item-content {
		@include flex-center;
		flex-direction: column;

		strong {
			@include fluid-type(large-text);
		}

		p {
			margin: 0;
			@include fluid-type(small-text);
		}
	}
}
