@use "../../abstracts/index" as *;

.insights-container {
	h2 {
		color: $green-light;
		margin-bottom: 1.25rem;
	}

	.insights-description {
		width: fit-content;
		padding: 0.5rem 0.75rem;
		background-color: $rich-black-surface;
		border-radius: 0.5rem;
		display: flex;
		flex-direction: column;
		gap: 0.5rem;

		@include fluid-type(small-text);
		color: rgba($off-white, 0.8);

		p:last-of-type {
			margin-bottom: 0.25rem;
			color: $jet-brighter;
			font-weight: 500;
		}
	}

	.insights-list {
		margin-top: 3rem;
		position: relative;
	}
}
