@use "../../abstracts/index" as *;

.insights-container {
	max-width: 575px;

	h2 {
		color: $green-light;
		margin-bottom: 1.25rem;
	}

	.insights-description {
		width: fit-content;
		padding: 0.5rem 0.75rem;
		background-color: $rich-black-surface;
		border: 1px solid rgba($green-light, 0.8);
		border-radius: 0.5rem;
		display: flex;
		flex-direction: column;
		gap: 0.25rem;

		p {
			@include fluid-type(small-text);
			color: rgba($off-white, 0.8);
			margin: 0;

			&:last-of-type {
				margin-bottom: 0.25rem;
				color: $jet-brighter;
				font-weight: 500;
				font-size: 0.875rem;
			}
		}
	}

	.insights-list-wrapper {
		.insights-list-info {
			letter-spacing: 0.08em;
			@include fluid-type(micro-text);
			opacity: 0.6;
		}

		.insights-list {
			margin-top: 3.25rem;
			position: relative;
		}
	}

	.divider {
		height: 1px;
		margin: 0.75rem 0;
		background-color: rgba($green-light, 0.7);
	}

	.insight-confidence {
		width: fit-content;
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		margin: 1.25rem 0;
		@include fluid-type(small-text);
		background-color: $rich-black-lighter;
		padding: 0.5rem 0.75rem;
		border-radius: 0.5rem;
		opacity: 0.85;

		&--low {
			color: $jet-brighter;
		}
		&--medium {
			color: $amber-soft;
		}
		&--high {
			color: $green-primary;
		}
	}
}
