@use "../../abstracts/index" as *;

.insights-card {
	position: absolute;
	inset: 0;
	height: 142px;
	max-width: 400px;
	padding: 1.25rem 0.75rem;

	border-radius: 0.5rem;
	background: linear-gradient(
		145deg,
		$rich-black-surface 0%,
		$rich-black-surface-light 40%,
		$rich-black-surface 100%
	);

	border: 1px solid rgba($accent-gold, 0.6);

	h3,
	p {
		margin: 0.25rem 0 0 0;
	}

	h3 {
		font-weight: 600;
		color: $accent-gold;
	}

	.insights-icon-anchor {
		position: absolute;
		top: 0.6rem;
		right: 0.55rem;
		transform: translateZ(0);

		.info-icon {
			@include flex-center;
		}
	}

	span {
		font-family: $secondary-font;
		@include fluid-type(small-text);
		margin: 0;
	}
}
